## Importing libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

C:\Users\prasad ayithireddy\anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

## Loading data

In [34]:
df = pd.read_csv("synthetic_dengue_cases_hyderabad_realistic.csv")

### Inspecting the Data

In [35]:
df.head()

,Patient_ID,Age,Gender,Ward,Date_of_diagnosis,Temperature,Humidity,Rainfall,Symptoms,Platelet_Count,Diagnosis,Outcome
0,P00001,44,F,Charminar,2025-08-16,NaN,NaN,NaN,"Fever, joint pain",108921,Dengue+,Recovered
1,P00002,48,F,Mehdipatnam,2022-06-21,25.7,82.8,45.0,"Fever, joint pain",110619,Dengue+,Recovered
2,P00003,19,M,Serilingampally,2022-04-01,29.8,63.6,0.0,"Fever, retro-orbital pain",62974,Dengue+,Hospitalized
3,P00004,1,M,Banjara Hills,2021-12-07,NaN,NaN,NaN,"Fever, bleeding",55469,Dengue+,Hospitalized
4,P00005,28,M,Malakpet,2025-09-14,NaN,NaN,NaN,"Fever, muscle pain",120219,Dengue+,Recovered

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13529 entries, 0 to 13528
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         13529 non-null  object
 1   Age                13529 non-null  int64
 2   Gender             13529 non-null  object
 3   Ward               13529 non-null  object
 4   Date_of_diagnosis  13529 non-null  object
 5   Temperature        8059 non-null   float64
 6   Humidity           8059 non-null   float64
 7   Rainfall           8059 non-null   float64
 8   Symptoms           13529 non-null  object
 9   Platelet_Count     13529 non-null  int64
 10  Diagnosis          13529 non-null  object
 11  Outcome            13529 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 1.2+ MB

In [37]:
df.describe()

                Age  Temperature     Humidity     Rainfall  Platelet_Count
count  13529.000000  8059.000000  8059.000000  8059.000000    13529.000000
mean      29.502402    26.217273    71.580060     4.385743    83253.887723
std       18.664829     2.582302    14.239166    10.624841    39397.462969
min        0.000000    22.000000    45.000000     0.000000     5390.000000
25%       16.000000    24.600000    61.100000     0.000000    51812.000000
50%       26.000000    26.000000    74.400000     0.100000    84202.000000
75%       40.000000    27.400000    82.100000     2.600000   117458.000000
max       89.000000    33.000000    98.100000    60.000000   150000.000000

## Data Cleaning

In [38]:
df.isnull().sum()

Patient_ID              0
Age                     0
Gender                  0
Ward                    0
Date_of_diagnosis       0
Temperature          5470
Humidity             5470
Rainfall             5470
Symptoms                0
Platelet_Count          0
Diagnosis               0
Outcome                 0
dtype: int64

So here I have find out the null values that is about 5470, now I am going to handle with it .. by the average of month, so for that I have to add month and year columns.

In [39]:
df["Date_of_diagnosis"].dtype   ## this is object data type so i need to convert it into date type column

dtype('O')

In [40]:
df["Date_of_diagnosis"] = pd.to_datetime(df["Date_of_diagnosis"])

In [41]:
df["Date_of_diagnosis"].dtype

dtype('<M8[ns]')

In [42]:
df["Month"] = df["Date_of_diagnosis"].dt.month
df["Year"] = df["Date_of_diagnosis"].dt.year

In [48]:
df.head()

,Patient_ID,Age,Gender,Ward,Date_of_diagnosis,Temperature,Humidity,Rainfall,Symptoms,Platelet_Count,Diagnosis,Outcome,Month,Year
0,P00001,44,F,Charminar,2025-08-16,NaN,NaN,NaN,"Fever, joint pain",108921,Dengue+,Recovered,8,2025
1,P00002,48,F,Mehdipatnam,2022-06-21,25.7,82.8,45.0,"Fever, joint pain",110619,Dengue+,Recovered,6,2022
2,P00003,19,M,Serilingampally,2022-04-01,29.8,63.6,0.0,"Fever, retro-orbital pain",62974,Dengue+,Hospitalized,4,2022
3,P00004,1,M,Banjara Hills,2021-12-07,NaN,NaN,NaN,"Fever, bleeding",55469,Dengue+,Hospitalized,12,2021
4,P00005,28,M,Malakpet,2025-09-14,NaN,NaN,NaN,"Fever, muscle pain",120219,Dengue+,Recovered,9,2025

In [50]:
df.dropna(inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8059 entries, 1 to 13528
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         8059 non-null   object
 1   Age                8059 non-null   int64
 2   Gender             8059 non-null   object
 3   Ward               8059 non-null   object
 4   Date_of_diagnosis  8059 non-null   datetime64[ns]
 5   Temperature        8059 non-null   float64
 6   Humidity           8059 non-null   float64
 7   Rainfall           8059 non-null   float64
 8   Symptoms           8059 non-null   object
 9   Platelet_Count     8059 non-null   int64
 10  Diagnosis          8059 non-null   object
 11  Outcome            8059 non-null   object
 12  Month              8059 non-null   int32
 13  Year               8059 non-null   int32
dtypes: datetime64[ns](1), float64(3), int32(2), int64(2), object(6)
memory usage: 881.5+ KB

In [52]:
df = df[df["Year"] != 2025]

In [55]:
df.shape

(8059, 14)

In [56]:
df.head()

,Patient_ID,Age,Gender,Ward,Date_of_diagnosis,Temperature,Humidity,Rainfall,Symptoms,Platelet_Count,Diagnosis,Outcome,Month,Year
1,P00002,48,F,Mehdipatnam,2022-06-21,25.7,82.8,45.0,"Fever, joint pain",110619,Dengue+,Recovered,6,2022
2,P00003,19,M,Serilingampally,2022-04-01,29.8,63.6,0.0,"Fever, retro-orbital pain",62974,Dengue+,Hospitalized,4,2022
5,P00006,33,M,Mehdipatnam,2023-07-26,23.8,92.9,10.0,"Fever, retro-orbital pain",78755,Dengue+,Hospitalized,7,2023
9,P00010,49,F,Kukatpally,2022-08-20,26.0,79.1,1.0,"Fever, bleeding",20787,Dengue+,Critical,8,2022
10,P00011,44,F,Musheerabad,2024-07-14,25.0,82.9,60.0,"Fever, muscle pain",134421,Dengue+,Recovered,7,2024

In [57]:
df.describe()

,Age,Date_of_diagnosis,Temperature,Humidity,Rainfall,Platelet_Count,Month,Year
count,8059.000000,8059,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000,8059.000000
mean,29.669066,2023-07-15 04:19:05.353021440,26.217273,71.580060,4.385743,83602.582454,6.939695,2023.004715
min,0.000000,2022-01-01 00:00:00,22.000000,45.000000,0.000000,5390.000000,1.000000,2022.000000
25%,16.000000,2022-09-06 00:00:00,24.600000,61.100000,0.000000,51767.500000,6.000000,2022.000000
50%,26.000000,2023-07-22 00:00:00,26.000000,74.400000,0.100000,84739.000000,7.000000,2023.000000
75%,40.000000,2024-06-04 00:00:00,27.400000,82.100000,2.600000,117861.000000,9.000000,2024.000000
max,89.000000,2024-12-28 00:00:00,33.000000,98.100000,60.000000,149992.000000,12.000000,2024.000000
std,18.628297,NaN,2.582302,14.239166,10.624841,39427.660132,2.681225,0.813895

In [59]:
df.columns

Index(['Patient_ID', 'Age', 'Gender', 'Ward', 'Date_of_diagnosis',
       'Temperature', 'Humidity', 'Rainfall', 'Symptoms', 'Platelet_Count',
       'Diagnosis', 'Outcome', 'Month', 'Year'],
      dtype='object')

In [60]:
df.isna().sum()

Patient_ID           0
Age                  0
Gender               0
Ward                 0
Date_of_diagnosis    0
Temperature          0
Humidity             0
Rainfall             0
Symptoms             0
Platelet_Count       0
Diagnosis            0
Outcome              0
Month                0
Year                 0
dtype: int64

In [61]:
df["Age_group"] = pd.cut(df["Age"],bins=[0,18,35,60,100],labels=["Child","Young Adult","Adult","Senior"])

In [62]:
df

,Patient_ID,Age,Gender,Ward,Date_of_diagnosis,Temperature,Humidity,Rainfall,Symptoms,Platelet_Count,Diagnosis,Outcome,Month,Year,Age_group
1,P00002,48,F,Mehdipatnam,2022-06-21,25.7,82.8,45.0,"Fever, joint pain",110619,Dengue+,Recovered,6,2022,Adult
2,P00003,19,M,Serilingampally,2022-04-01,29.8,63.6,0.0,"Fever, retro-orbital pain",62974,Dengue+,Hospitalized,4,2022,Young Adult
5,P00006,33,M,Mehdipatnam,2023-07-26,23.8,92.9,10.0,"Fever, retro-orbital pain",78755,Dengue+,Hospitalized,7,2023,Young Adult
9,P00010,49,F,Kukatpally,2022-08-20,26.0,79.1,1.0,"Fever, bleeding",20787,Dengue+,Critical,8,2022,Adult
10,P00011,44,F,Musheerabad,2024-07-14,25.0,82.9,60.0,"Fever, muscle pain",134421,Dengue+,Recovered,7,2024,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13524,P13525,34,M,Banjara Hills,2024-08-22,26.1,80.6,0.2,"Fever, muscle pain",127239,Dengue+,Recovered,8,2024,Young Adult
13525,P13526,27,M,Kukatpally,2023-05-05,27.4,71.4,2.6,"Fever, retro-orbital pain",24424,Dengue+,Critical,5,2023,Young Adult
13526,P13527,0,F,Kukatpally,2022-08-28,26.7,79.2,0.0,"Fever, headache, joint pain",14031,Dengue+,Critical,8,2022,NaN
13527,P13528,33,M,LB Nagar,2024-12-23,23.2,70.2,0.0,"Fever, headache, joint pain",33809,Dengue+,Critical,12,2024,Young Adult
13528,P13529,12,F,Kukatpally,2022-07-19,25.5,85.1,0.0,Fever,105785,Dengue+,Recovered,7,2022,Child

In [69]:
df["Age_group"].value_counts().sum()

7971

In [71]:
df.dropna(inplace=True)

In [72]:
df

,Patient_ID,Age,Gender,Ward,Date_of_diagnosis,Temperature,Humidity,Rainfall,Symptoms,Platelet_Count,Diagnosis,Outcome,Month,Year,Age_group
1,P00002,48,F,Mehdipatnam,2022-06-21,25.7,82.8,45.0,"Fever, joint pain",110619,Dengue+,Recovered,6,2022,Adult
2,P00003,19,M,Serilingampally,2022-04-01,29.8,63.6,0.0,"Fever, retro-orbital pain",62974,Dengue+,Hospitalized,4,2022,Young Adult
5,P00006,33,M,Mehdipatnam,2023-07-26,23.8,92.9,10.0,"Fever, retro-orbital pain",78755,Dengue+,Hospitalized,7,2023,Young Adult
9,P00010,49,F,Kukatpally,2022-08-20,26.0,79.1,1.0,"Fever, bleeding",20787,Dengue+,Critical,8,2022,Adult
10,P00011,44,F,Musheerabad,2024-07-14,25.0,82.9,60.0,"Fever, muscle pain",134421,Dengue+,Recovered,7,2024,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13523,P13524,20,M,Serilingampally,2022-08-07,24.1,92.5,3.0,"Fever, joint pain",136281,Dengue+,Recovered,8,2022,Young Adult
13524,P13525,34,M,Banjara Hills,2024-08-22,26.1,80.6,0.2,"Fever, muscle pain",127239,Dengue+,Recovered,8,2024,Young Adult
13525,P13526,27,M,Kukatpally,2023-05-05,27.4,71.4,2.6,"Fever, retro-orbital pain",24424,Dengue+,Critical,5,2023,Young Adult
13527,P13528,33,M,LB Nagar,2024-12-23,23.2,70.2,0.0,"Fever, headache, joint pain",33809,Dengue+,Critical,12,2024,Young Adult
13528,P13529,12,F,Kukatpally,2022-07-19,25.5,85.1,0.0,Fever,105785,Dengue+,Recovered,7,2022,Child

In [76]:
df.reset_index(drop=True,inplace=True)

In [82]:
df[df.duplicated()==True]

Empty DataFrame
Columns: [Patient_ID, Age, Gender, Ward, Date_of_diagnosis, Temperature, Humidity, Rainfall, Symptoms, Platelet_Count, Diagnosis, Outcome, Month, Year, Age_group]
Index: []

In [78]:
df.to_csv('cleaned_dengue_data.csv', index=False)